.icon {
  width: 64px;
  vertical-align: top;
  border: 1px solid salmon;
}

.markerbtn {
  font-size: 14px;
  margin: 2px;
}

.selectedTool {
  background-color: rgb(183, 169, 169);
}

.selectedstickerbtn, .customstickerbtn {
  font-size: 17px;
  margin: 2px;
  padding: 6px 10px;
}

.customstickerbtn {
  font-weight: bold;
  background-color: #eee;
  border-radius: 8px;
}

#canvas {
  border: 2px solid black;
  border-radius: 10px;
  filter: drop-shadow(8px 8px 12px rgba(0, 0, 0, 0.5));
  background-color: white;
}

div {
  margin-top: 10px;
}
